// COLORS
$white: #fff;
$mud-green: #394B50;
$grey: #868686;
$light-grey: #A9A9A9;
$note-grey: #7B7B7B;
$btn-grey: #DEDFE0;
$btn-yellow: #FFBB42;
$bg-yellow: #FFC155;
$blue: #709DCA;

// FONT WEIGHT
$fw-normal: 400;
$fw-bold: 700;
$fw-black: 900;

// FONT SIZE
$fs-13_5: 13,5px;
$fs-13: 13px;
$fs-14: 14px;
$fs-16: 16px;
$fs-24: 24px;
$fs-30: 30px;
$fs-35: 35px;
$fs-60: 60px;

// LINE-HEIGHT
$lh-16: 16px;
$lh-17: 17px;
$lh-19: 19px;
$lh-29: 29px;
$lh-36: 36px;
$lh-42: 42px;
$lh-72: 72px;